#main-layout {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 950px;
}

#spacer {
  width: 100%;
  height: 32px;
  display: none;
}

@media screen and (max-width: 950px) {
  #main-layout {
    flex-direction: column;
    align-items: center;
  }

  #spacer {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  #main-layout {
    max-width: 100%;
  }
}
