#circle-layout .konvajs-content,
#circle-layout canvas {
  width: 600px !important;
  height: 600px !important;
}

@media screen and (max-width: 600px) {
  #circle-layout .konvajs-content,
  #circle-layout canvas {
    width: 300px !important;
    height: 300px !important;
  }
}
