$primary: #c4b2e6;

$body-bg: #282c34;
$body-color: #ffffff;

$input-color: #282c34;
$form-range-track-bg: #495057;
$form-text-color: #dddddd;

$accordion-border-color: rgba(255, 255, 255, 0.2);
$accordion-button-active-color: $body-color;
$accordion-button-active-bg: $body-bg;

@import '~bootstrap/scss/bootstrap.scss';
